/* Selectors and Configs */
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

h1{
    padding: 0;
    margin: 0;
}


/* Variaveis */
:root{
    --bg-main: #212121;
    
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --font-white: #f1f1f1;
    --color-bluedark: #0a5555;
}


/* Dashboard */
#dashboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* Side bar */
.side-bar{
    grid-column: 1;
    background: var(--bg-main);
    box-shadow: 2px 0px 6px #555555;
    height: 100vh;
    position: static;
    width: 275px;
}

.side-bar > .title{
    text-align: center;
    padding: 20px 5px 5px 5px;
}

.side-bar > div > h1{
    color: var(--color-white);
    font-size: 2.25rem;
    line-height: 25px;
}

.icon-paw{
    margin-left:3px;
    color: 	var(--color-bluedark);
    transform: rotate(-20deg);
}

.icon-paw:hover{
    transition: 1.5s;
    transform: rotate(340deg);
}

/* Navigation aside */
.navigation{
    margin: 50px 0;
}

.navigation{
    position: relative;
}

.navigation-list li{
    position: relative;
    cursor: pointer;
}

.navigation-list li a{
    text-align: left;
    color: var(--font-white);
    font-size: 1.125rem;
    line-height: 45px;
    cursor: pointer;
    display: block;
    padding: 5px 20px;
    background-image: linear-gradient(to right, var(--color-bluedark) 50%, transparent 50%);
    background-size: 200%;
    background-position: 100%;
    transition: 0.4s;
}

.navigation-list li a:hover{
    background-position: 0%;
}

.navigation-list li a .dropdown{
    position: absolute;
    right: 0;
    margin: 12.5px;
    margin-right: 10px;
}

/* User info */
.info{
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.info > span, .info > span > a{
    text-align: center;
    color: #f1f1f1;
}

.info > span > a:hover{
    text-decoration: underline;
}

/* Content */
.content{
    grid-column: 2 / -1;
    background-color: #f0eee4;
    padding: 20px;
}


/* Cards */
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-item-1, .card-item-2, .card-item-3, .card-item-4{
    width:80%;
    height: 250px;    
    background-color: var(--font-white);
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0px 0px 5px var(--bg-main);
    border-radius: 2px;
}


.card-item-1 > h3, .card-item-2 > h3, .card-item-3 > h3, .card-item-4 > h3,
.card-item-1 > p, .card-item-2 > p, .card-item-3 > p, .card-item-4 > p{
    color: var(--bg-main);
}

.card-item-1 > p, .card-item-2 > p, .card-item-3 > p, .card-item-4 > p{
    font-size: 0.875rem;
}

.card-item-1 p span, .card-item-2 p span, .card-item-3 p span, .card-item-4 p span{
    font-weight: bold;
    text-decoration: underline;
}

.card-item-4{
    width: 93.5%;
}

.cards > div:nth-child(n + 4){
    grid-column: 1 / -1;
}


/* Graph */
.graph{
    height: 100%;
    display: flex;
}

.graph-info li span{
    line-height: 30px;
}

.graph-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.graph-draw{
    margin-left: 20px;
    width: 450px;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
    height: 80%;
}

.graph1, .graph2, .graph3{
    border: 1px solid var(--bg-main);
    width: 20px;
    animation: graph ease-in-out 3s;
}

.graph1{

    background: #0a5555;
    height: 183px;
}

.graph2{
    background: #440d5f;
    height: 143px;
    margin-top: 40px;
}

.graph3{
    background:#041d3f;
    height: 76px;
    margin-top: 106px;
}



.graph-info-2 > ul, .graph-draw ul{
    display: flex;
    margin-left: 40px;
}

.graph-info-2 li span{
    margin-left: 20px;
}

.graph-draw ul div{
    margin-right: 25px;
    display: flex;
    
}


/* Cards System */
.card-progress{
    margin:auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.card-progress-2 .mask,
.card-progress-2 .fill{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.card-progress-2 .mask{
    clip: rect(0px, 150px, 150px, 75px);
}

.inside-circle{
    width: 122px;
    height: 122px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 0px 0px 14px;
}


.card-item-1 .card-progress .card-progress-2 .mask .fill,
.card-item-2 .card-progress .card-progress-2 .mask .fill,
.card-item-3 .card-progress .card-progress-2 .mask .fill,
.card-item-4 .card-progress .card-progress-2 .mask .fill{
    clip: rect(0px, 75px, 150px, 0px);
}

.card-item-1 .card-progress .card-progress-2 .mask .fill{
    background-color: #0a5555;
}

.card-item-2 .card-progress .card-progress-2 .mask .fill{
    background-color: #440d5f;
}

.card-item-3 .card-progress .card-progress-2 .mask .fill{
    background-color: #041d3f;
}

.card-item-4 .card-progress .card-progress-2 .mask .fill{
    background-color: #055805;
}

.anual-card{
    margin-left: 15%;
}

.mask.full,
.card-progress-2 .fill{
    animation: fill ease-in-out 3s;
    transform: rotate(150deg);
}

.card-item-2 .card-progress .card-progress-2 .mask.full,
.card-item-2 .card-progress .card-progress-2 .fill{
    transform: rotate(120deg);
}

.card-item-3 .card-progress .card-progress-2 .mask.full,
.card-item-3 .card-progress .card-progress-2 .fill{
    transform: rotate(74deg);
}

.card-item-4 .card-progress .card-progress-2 .mask.full,
.card-item-4 .card-progress .card-progress-2 .fill{
    transform: rotate(170deg);
}



/* keyframes */
@keyframes fill{

    0%{
        transform: rotate(0deg);
    }
}

@keyframes graph{

    0%{
        height: 0px;
    }
}





