/* @font-face {
    font-family: ';
    src: url() format('opentype');
    font-weight: normal;
    font-style: normal;
} */


/* .news-card{
    position: relative;
}

.content-card{
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 20px;
} */