/* Selectors and Configs */
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial,  sans-serif;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

a{
    text-decoration: none;
}

#container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}



/* Vars */
:root{
    --color-black: #000;
    --color-white: #fff;

    /* Buttons colors*/
    --color-button: #0e0e0e;
    --color-button-hover: #0a0a0a;

    /* Titles */
    --color-subtitles: rgb(247, 247, 247);
    --color-links: #d3d3d3;
    --color-subtitles-black: #202020;
    --bg-white-links: #7b7b7b;
    --bg-white-text: #373737;
}


/* 
Tamanho textos

48 - logo
36 - Titulo
22- subtitles
18- links
14 - textos

*/


/* header */

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-black);
    width: 100%;
    padding: 10px 20px;
    z-index: 1;
}

.title span a{
    color: var(--color-white);
    font-size: 2.25rem;
    font-weight: 900;
}

/* Navigation */
.main-navigation{
    display: flex;
}

.main-navigation li {
    border-right: 1px solid #fff;
}

.main-navigation li a, .sub-navigation li a{
    font-size: 1.125rem;
    color: var(--color-white);
    margin: 20px;
}

.main-navigation li a:hover, .sub-navigation-list li a:hover, .sub-navigation-header:hover  {
    text-decoration: underline;
}

.main-navigation .last-nav-item{
    border: none;
}

.sub-navigation-header{
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.sub-navigation-header:hover .sub-navigation-list{
    display: block;
}

.sub-navigation-list{
    position: absolute;
    left: -100px;
    top: 100%;
    background-color: var(--color-button);
    margin: 0;
    display: none;
}

.sub-navigation-list li{
   padding: 5px;
}

.sub-navigation-list li:hover{
    background-color: var(--color-button-hover);
 }


 /* Center news */
#center-news{
    padding-top: 100px;
    width: 95%;
    margin: 0 auto;
}

#center-news > .sections-titles, #weekly-news > .sections-titles, #tv-news > .sections-titles{
    margin: 10px 0;
}

#center-news .sections-titles span, #weekly-news .sections-titles span, #tv-news > .sections-titles{
    font-size: 1.375rem;
    color: #4a4a4a;
    font-weight: bold;
}

.center-news-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    cursor: pointer;
    
}

.news-card{
    position: relative;
    /* margin: 0 10px; */
}

.news-card > img{
    width: 98%;
}

.content-card{
    position: absolute;
    bottom: 0;
    padding: 20px 15px;
}

.content-card > h2, .simple-card-news > h2{
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-subtitles);
    line-height: 1.2;
}

.content-card > p, .simple-card-news > p{
    margin: 7px;
    font-size: 1rem;
    color: var(--color-links);
    line-height: 1.5;
}

.content-card > a, .simple-card-news > a{
    border-left: 1px solid red;
    font-size: .875rem;
    color: var(--color-links);
    text-transform: uppercase;
    padding: 0 5px;
}

.content-card > a:hover, .simple-card-news > a:hover, .banner-section .sections-titles > a:hover, .footer-info span a:hover{
    text-decoration: underline;
}

.center-news-cards > div:nth-child(n + 2){
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aside-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aside-cards .news-card > img{
    width: 97%;
}

.aside-cards .content-card > h2{
    font-size: 1.275rem;
}

/* Weekly News */

#weekly-news, .banner-section, #tv-news{
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 100px;
}

#weekly-news-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}

#weekly-news-cards > .simple-card-news{
    margin: 10px 10px 10px 0;
}

.simple-card-news > img {
    width: 95%;
    height: 217px;
}

.simple-card-news > h2{
    color: var(--color-subtitles-black);
}

.simple-card-news > p{
    color: var(--bg-white-text);
    margin-left: 0;
}

.simple-card-news > a{
    color: var(--bg-white-links);
    border-left: 1px solid rgb(86, 15, 167);
}

.aside-cards .news-card > img:hover, .simple-card-news > img:hover, .news-card > img:hover, .banner-card > img:hover{
    opacity: 0.95;
}

/* Banner */
#banner{
    width: 100%;
    height: 475px;
    background: url(../img/background-banner.jpg) no-repeat;
    padding: 1% 0;
}


.banner-section > .sections-titles{
    display: flex;
    align-items: center;
    font-size: 36px;
    color: var(--color-white);
}

.banner-section .sections-titles > a{
    font-size: .875rem;
    margin: 0 10px;
    color: var(--color-links);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-white);
}

#banner-content{
    display: flex;
    justify-content: space-between;

    /* margin: 20px; */
}

.banner-card{
    margin:  15px 0;
    background-color: var(--color-white);
    cursor: pointer;
}


.banner-card > img{
    width: 400px;
    height: 250px;
}

.banner-card > p {
    margin: 10px;
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--color-subtitles-black);
    line-height: 1.2;
}



/* TV news content */
.tv-news-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tv-news-content > aside {
    grid-column: 1;
    background: #212121;
    border: 1px solid var(--color-black);
    height: 590px;
}


.tv-news-content > .card-list-section{
    grid-column: 2 / -1;
    margin: 0 20px;
    cursor: pointer;
}

.tv-news-list {
    text-align: center;
    padding: 0;

}

.tv-news-list li{
    padding: 35px 0;
    width: 100%;
}

.tv-news-list li:hover{
    background: var(--bg-white-text);
}

.tv-news-list li a{
    color: var(--color-links);
    font-size: 1.25rem;
}

.tv-news-list li a:hover{
    color: var(--color-white);
}

.card-list-section > .lower-cards{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}

.lower-cards > .simple-card-news, .card-list-section .news-card{
    padding: 0 10px;
}

.lower-cards .simple-card-news img, .card-list-section .news-card img{
    width: 100%;
}

.lower-cards .simple-card-news p{
    font-size: 0.875rem;
}

.lower-cards .simple-card-news h2{
    font-size: 1.275rem;
}

/* Footer */

#footer{
    padding: 10px;
    /* width: 95%; */
    margin: 0 auto;
    margin-top: 5%;
    background-color: var(--color-subtitles-black);
    box-shadow: 0 0 20px var(--color-black);
}

#footer .main-navigation, .footer-info{
    display: flex;
    justify-content: center;

}
#footer .main-navigation li{
    border: none;
}

.footer-info span a{
    font-size: 0.875rem;
    color: var(--color-links);
    margin: 20px;
}


.card-list-section .content-card > a, .card-list-section .simple-card-news > a{
    border-left: 1px solid blue;
}

/* Responsividade */
@media only screen and (max-width: 1040px) {
    .header{
        justify-content: space-between;
    }

    .main-navigation{
        display: none;
    }

    .sub-navigation-header{
        display: block;
        margin-right: 30px;
    }

    .lower-cards .simple-card-news img{
        width: 100%;
        height: 50%;
    }

    .banner{
        overflow: scroll;
        white-space: nowrap;
    }

    #banner-content{
        /* display: inline-block; */
        overflow-x: scroll;
        overflow-y: hidden;
    }

}

@media only screen and (max-width: 925px) {
    
    .center-news-cards{
        display: block;
        align-items: center;
        cursor: pointer;
    }

    #footer > .main-navigation{
        flex-wrap: wrap;
    }

    #footer > .main-navigation li a{
        line-height: 30px;
    }

}


@media only screen and (max-width: 650px) {
    
    #weekly-news-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        cursor: pointer;
    }

    .tv-news-content aside{
        display: none;
    }

    .tv-news-content > .card-list-section{
        grid-column: 1 / -1;
        margin: 0px;
        cursor: pointer;
    }

    .lower-cards > .simple-card-news, .card-list-section .news-card {
        padding: 0px;
    }

    .tv-news-content{
        width: 100%
    }

    .simple-card-news > img{
        height: 170px;
    }

}




